:host{


  display: block;
}
.btn--add-question {
  position: fixed;
  right: 20px;
  top: 710px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #3843D0;
  color: #DBDBDB;
}

.create-window-wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
}
.create-window{
  margin: 0 auto;
  width: 300px;
  border-radius: 2px;
  border: #828282 solid 1px;
  left: calc(100vw / 2 - 40%);
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.45);
}

@media screen and (min-width: 768px) {
  :host{
    margin: 0 auto;
    max-width: 704px;
    width: 704px;
  }
 .btn--add-question  {
   display: none;
 }
}
