:host{
  --blue: #3843D0;
  --font-small: 13px;
  --font-large: 16px;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --yellow: #FFD704;
  --orange: #F96654;
  --pink: #FC9CFE;


  background-color: rgba(255, 255, 255, 0.2);

}

.question{
  display: grid;
  gap: 10px;
  grid-template-columns: 78px auto 56px 24px;
  grid-template-rows: auto auto auto;

  grid-template-areas: "avatar title   title   title"
                       "avatar snippet snippet snippet"
                       "thumbs label   comments pin";
  margin-top: 15px;
  margin-bottom: 15px;

}

.question__user-avatar{
  grid-area: avatar;
}

.question__title{
  grid-area: title;
}

.question__description{
  grid-area: snippet;
}

.question__thumbs{
  grid-area: thumbs;

  display: flex;
  justify-content: space-between;
  width: 68px;
}

.question__label {
  grid-area: label;
}

.question__btn-comments{
  grid-area: comments;

  display: flex;
}

.question__btn-pin{
  grid-area: pin;
}

.question__btn-share{
  display: none;
  grid-area: share;
}


.q {
    display: none;
}
@media screen and (min-width: 768px){

  .question{
    grid-template-columns: 78px 56px auto 24px 24px;
    grid-template-areas: "avatar  title   title   comments comments"
                         "avatar  snippet snippet snippet  snippet"
                         "avatar  thumbs  label   share    pin";
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .question__btn-share{
    display: block;
  }

  .question__description {
    width: 449px;
    max-width: 449px;
  }
  
  .q {
    display: inline;
  }
  
  .question__thumbs{
  width: 56px;
}
}

/* Visuals changes*/
.question__title--text{

  font-family: Inter Regular;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;

  font-size: var(--font-large);
  color: var(--gray2, #4F4F4F);
}

.text--secondary{
  font-family: Inter Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.question__description--text{
  color: #828282;
  opacity: 0.7;
}

.question__user-avatar--look{
  position: relative;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-color: var(--blue, #3843D0);
}

.question__user-avatar--blue{
  background-color: var(--blue, #3843D0);
}

.question__user-avatar--yellow{
  background-color: var(--yellow);
}

.question__user-avatar--orange{
  background-color: var(--orange);
}

.question__user-avatar--pink{
  background-color: var(--pink);
}

.question__user-avatar img {
  position: absolute;
  left: 11.74%;
  right: 11.88%;
  top: 17.17%;
  bottom: 0%;
}

.question__category{
  color: var(--blue);
  font-weight: bolder;
}
