.navigation{
  display: flex;
  list-style: none;
  /*gap: 15px;*/
}

.navigation li {
    padding-right: 16px;
    padding-left: 16px;
}
.navigation li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;

  font-family: Inter Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;

  color: #9A9CB5;
 
}

.navigation li.is-active{
  border-bottom: 2px solid #3843D0;
}

.navigation li.is-active a{
  padding-bottom: 8px;
  color: #3843D0;
  text-align: center;
  display: block;
}

nav{
   border-bottom: 1px solid #DBDBDB;
}
